<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" > <!--parallel="true"  并行-->
<test name="Test" >
    <classes>
        <class name="com.comics.jiabin.testcases.EntryTest"/>
    </classes>
    <listeners>
        <listener class-name="com.comics.jiabin.awutils.GenerateReporter"/>
    </listeners>
</test><!--Test-->
</suite><!--Suite-->